---
version: 2
updates:
  - package-ecosystem: pip
    directory: /.config/
    schedule:
      day: sunday
      interval: weekly
    labels:
      - dependabot-deps-updates
      - skip-changelog
    groups:
      dependencies:
        patterns:
          - "*"
        exclude-patterns:
          # galaxy-importer ceiling confuses dependabot
          - attrs
          - bleach
          - flake8
    ignore:
      - dependency-name: attrs
      - dependency-name: bleach
      - dependency-name: flake8
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    labels:
      - "dependencies"
      - "skip-changelog"
