# python
*.pyc

# venv
venv
.venv/

# tests
tests/output
.pytest_cache/
.tox
.ruff*
tests/integration/event_source_kafka/*.crt
tests/integration/event_source_kafka/*.key
tests/integration/event_source_kafka/*.csr
tests/integration/event_source_kafka/*.jks
tests/integration/integration_config.yml

# Ide's
.vscode
.idea

# Builds
*.tar.gz

# Coverage
.coverage*
*coverage.combined

# Generated with antsibull-docs
docs/build/
docs/rst/*.rst
docs/temp-rst

# Other
tests/integration/inventory
**/.DS_Store
.ansible/

# Collection specific
importer_result.json
docs/rst/CHANGELOG.md
CHANGELOG.md
docs/README.md
