# python
*.pyc

# venv
venv

# tests
tests/output
.pytest_cache/
.tox
.ruff*
tests/integration/event_source_kafka/*.crt
tests/integration/event_source_kafka/*.key
tests/integration/event_source_kafka/*.csr
tests/integration/event_source_kafka/*.jks
tests/integration/integration_config.yml

# Ide's
.vscode
.idea

# Builds
*.tar.gz

# Coverage
.coverage*
*coverage.combined
# docs/requirements.txt
docs/build.sh
docs/antsibull-docs.cfg
docs/conf.py
