ci:
  skip:
    # These will not run on pre-commit.ci due to required network access:
    - ansible-test-sanity
    - tox
exclude: "^.*\\.md$"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        language_version: python3
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.1
    hooks:
      - id: cspell
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.6"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/pylint
    rev: v3.2.6
    hooks:
      - id: pylint
        args:
          - --output-format=colorized
        additional_dependencies:
          - aiobotocore
          - aiohttp
          - aiokafka
          - asyncmock
          - azure-servicebus
          - dpath
          - kafka-python
          - psycopg
          - pytest
          - pyyaml
          - requests
          - watchdog
          - xxhash
          - ansible-core
  - repo: local
    hooks:
      - id: ansible-test-sanity
        name: Run ansible-test sanity
        entry: ansible-test sanity
        require_serial: true
        stages: [manual]
        language: python
        additional_dependencies:
          - ansible
        pass_filenames: false

      - id: tox
        name: Run tox
        entry: tox
        language: python
        require_serial: true
        stages: [manual]
        pass_filenames: false
