ci:
  skip:
    # These will not run on pre-commit.ci due to required network access:
    - ansible-test-sanity
    - tox
exclude: "^.*\\.md$"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        language_version: python3
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.0
    hooks:
      - id: cspell
  - repo: local
    hooks:
      - id: ansible-test-sanity
        name: Run ansible-test sanity
        entry: ansible-test sanity
        require_serial: true
        stages: [manual]
        language: python
        additional_dependencies:
          - ansible
        pass_filenames: false

      - id: tox
        name: Run tox
        entry: tox
        language: python
        require_serial: true
        stages: [manual]
        pass_filenames: false
