# cspell: disable autoupdate
ci:
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: |
    chore: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  skip:
    # These will not run on pre-commit.ci
    - ansible-test-sanity # requires network access
    - mypy # the pre-commit.ci env does not have py3.9 anymore
    - pip-compile # the pre-commit.ci env does not have py3.9 anymore
    - shellcheck  # no docker
    - tox # requires network access
exclude: >
  (?x)^(
    docs/rst/.*.rst$
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        language_version: python3
      - id: file-contents-sorter
        args: [--unique]
        # always_run: true
        files: ^(\.config/dictionary\.txt)$
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.6.0
    hooks:
      - id: cspell
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        # empty args needed in order to match mypy cli behavior
        args: []
        language_version: python3.9 # minimal supported version, keeps results consistent
        additional_dependencies:
          - aiohttp
          - aiokafka
          - ansible-core>=2.15
          - asyncmock
          - azure-servicebus
          - dpath
          - kafka-python-ng;  python_version >= "3.12"
          - kafka-python; python_version < "3.12"
          - psycopg[binary,pool]  # extras needed to avoid install failure on macos-aarch64
          - pytest
          - types-PyYAML
          - types-aiobotocore[cloudtrail,sqs]
          - types-botocore
          - types-mock
          - types-requests
          - watchdog>=5.0.0
          - xxhash

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.14"
    hooks:
      - id: ruff
        args: [
          --fix,
          --exit-non-zero-on-fix,
        ]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [
          --max-line-length, "120",
          --extend-ignore, E203 E402,
        ]

  - repo: https://github.com/pycqa/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        args:
          - --output-format=colorized
        additional_dependencies:
          - aiobotocore
          - aiohttp
          - aiokafka
          - ansible-core
          - asyncmock
          - azure-servicebus
          - botocore
          - dpath
          - kafka-python
          - psycopg
          - pytest
          - pyyaml
          - requests
          - types-aiobotocore
          - watchdog>=5.0.0
          - xxhash
  - repo: local
    hooks:
      - id: ansible-test-sanity
        name: Run ansible-test sanity
        entry: ansible-test sanity
        require_serial: true
        stages: [manual]
        language: python
        additional_dependencies:
          - ansible
        pass_filenames: false

      - id: tox
        name: Run tox
        entry: tox
        language: python
        require_serial: true
        stages: [manual]
        pass_filenames: false
  - repo: https://github.com/jazzband/pip-tools
    rev: v7.5.2
    hooks:
      - id: pip-compile
        name: pip-combile -> constraints.txt
        alias: deps
        always_run: true
        entry: pip-compile --upgrade --no-annotate --strip-extras --unsafe-package=ansible-core --unsafe-package=doctutils --unsafe-package=setuptools --output-file=.config/constraints.txt .config/requirements.txt .config/requirements-test.txt .config/requirements-docs.txt
        files: ^.config\/.*requirements.*$
        language: python
        language_version: "3.9" # minimal we support officially
        pass_filenames: false
        stages: [manual]
        additional_dependencies:
          - pip>=22.3.1
