ansible-core>=2.15
pyyaml>=6.0.1
aiobotocore
aiohttp
aiokafka[gssapi]
azure-servicebus
dpath
# https://github.com/dpkp/kafka-python/issues/2412#issuecomment-2030459360
kafka-python; python_version < "3.12"
kafka-python-ng;  python_version >= "3.12"
psycopg[binary,pool]  # extras needed to avoid install failure on macos-aarch64
systemd-python; sys_platform != 'darwin'
watchdog>=5.0.0  # types
xxhash
