ansible-core>=2.15
pyyaml>=6.0.1
aiobotocore
aiohttp
aiokafka
azure-servicebus
dpath
kafka-python
psycopg[binary,pool]  # extras needed to avoid install failure on macos-aarch64
systemd-python; sys_platform != 'darwin'
watchdog
xxhash
