# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

# Created with antsibull-docs 2.13.1

breadcrumbs = true
indexes = true
use_html_blobs = false
add_antsibull_docs_version = true

# You can specify ways to convert a collection name (<namespace>.<name>) to an URL here.
# You can replace either of <namespace> or <name> by "*" to match all values in that place,
# or use "*" for the collection name to match all collections. In the URL, you can use
# {namespace} and {name} for the two components of the collection name. If you want to use
# "{" or "}" in the URL, write "{{" or "}}" instead. Basically these are Python format
# strings (https://docs.python.org/3.8/library/string.html#formatstrings).
collection_url = {
  * = "https://galaxy.ansible.com/ui/repo/published/{namespace}/{name}/"
}

# The same wildcard rules and formatting rules as for collection_url apply.
collection_install = {
  * = "ansible-galaxy collection install {namespace}.{name}"
}
