# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

# Created with antsibull-docs 2.12.0

antsibull-docs >= 2.0.0, < 3.0.0
ansible-pygments
sphinx
sphinx-ansible-theme >= 0.9.0
