aiobotocore
aiohttp
aiokafka[gssapi]
asyncio
asyncmock
azure-servicebus
dpath
pytest<8  # https://github.com/ansible/ansible/issues/82713
pytest-asyncio
psycopg[binary,pool]
xxhash
pyjwt
cryptography
